body {
    height: 1000vh;
    display: flex;
    justify-content: center;
}
.parent {
    background-color: wheat;
    width: 300px;
    height: 300px;
    position: absolute;
}
.child {
    background-color: skyblue;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 300px;
    right: 100px;
}
